.App {
  text-align: center;
  background-color: pink;
}

.game_container{
  background-color: pink;
  width: 50%;
  margin :  auto;
  height: 100vh;
}
.gif_img{
  padding: 5px;
  border-radius: 12px;
  border: 3px solid green;
  background-color: white;
  background-image: url('./Assets/bgImage2.png');
  background-size:cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.gif_img img{
  width:300px;
  /* background-color: white; */
  
}

.key_pad{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
.key_pad button{
  padding : 50px;
  border-radius: 12px;
  margin: 10px;
  /* border: 3px solid yellow; */
  font-size: x-large;
  background-color: white;
}